{{template "header"}}
<div class="container">
    <div class="row">
        <div class="col">
            <H1>Welcome to the About Page</H1>
            <p>This came from the template: {{index .StringMap "test"}}</p>
            <p>
                {{if ne {{index .StringMap "remote_ip"}} ""}}
                    Your remote IP address is {{index .StringMap "remote_ip"}}
                {{else}}
                    I don't know what your ip address yet. Visit the <a href="/">Home</a> so i can set it.
                {{end}}
            </p>
        </div>
    </div>
</div>
{{template "footer"}}
